@font-face {
  font-family: 'Museo Sans Rounded';
  font-style: normal;
  font-weight: 500;
  src: url(https://sharetaxi.philsony.com/fonts/museosans/museosansrounded-500-webfont.woff) format('woff');
}