@import url('../../../css/style.css');

<<<<<<< HEAD
body, div {
    margin: 0;
    padding: 0;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
.row {
	margin-bottom: 8px;
=======
body, div {
    margin: 0;
    padding: 0;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
.row {
	margin-bottom: 8px;
>>>>>>> 433af9c52ccd5fa8649a8d7de447871ae1df4675
}