@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('scrollbar.css');
@import url('https://sharetaxi.philsony.com/fonts/circularstd/circularstd.css?v=3');


html, body {
  font-size: 15px !important;
  background-color: #292c35 !important;
  text-shadow: 0 0 1px rgba(51,51,51,0.2);
  overflow-x: hidden;
}

* {
  font-family: 'Varela Round';
  color: #fff;
}

.bg-light {
  background-color: #2d3642;
}

.box {
  border-radius: 20px;
  padding: 45px;
  margin-bottom: 30px;
  font-family: 'Circular Std';
}

.customAlert {
  text-align: center;
  background: #fff;
  padding: 25px;
  color: #000;
  font-size: 16px;
  font-family: 'Circular Std';
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  z-index: 1;
}

.customAlert p {
  margin: 0;
}

.text-normal {
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
}

.box-mini {
  background-color: rgba(0, 0, 0, .1);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0px;
  font-family: 'Varela Round' !important;
}

.box-mini * {
  font-family: 'Varela Round' !important;
  font-size: 16px;
}

.submit a {
  font-size: 12px !important;
}

.statuser {
  background-color: rgba(0, 0, 0, .2);
  text-transform: uppercase;
  padding: 15px;
  border-radius: 9999px;
  color: #fff;
  font-size: 12px !important;
  font-weight: bold;
  margin: 5px 0;
  display: inline; 
}

.submit {
  background-color: #0eb6b9;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 7px;
  border: 0;
  color: #fff;
  font-size: 12px !important;
  font-weight: bold;
  margin: 5px 0;
  display: inline; 
}

.submit:hover {
  background-color: #098183;
}

.node {
  background-color: #0eb6b9;
  padding: 20px;
  margin-bottom: 12px;
  transition: 1s all;
  font-size: 18px;
}

.node:hover {
  background-color: #098183;
}

.node i {
  margin-right: 20px;
}

@media screen and (max-width: 400px) {
  .box {
    padding: 15px;
  }
}

