@import url('../../../css/style.css');


html, body, div, div.container-fluid {
    margin: 0;
    padding: 0;
    background-color: #fff !important;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
.row {
    margin-bottom: 8px;
}

.navigation .trigger * {
    color: #0c7a7c;
}

button {
    background-color: #0eb6b9 !important;
    transition: 1s all !important;
    border: 0 !important;
}

button:hover {
    background-color: #0c7a7c !important;
}
.get-location button {
    background-color: #010101 !important;
    font-family: 'Circular Std';
    width: 60%;
    margin-left: 20%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    height: 10vh;
    font-size: 14px;
    border-radius: 0;
    text-transform: uppercase;
    z-index: 999;
    bottom: 2.5vh;
    position: fixed;
}

.pac-container * {
    background-color: #fff !important;
    color: #000;
}

.get-location button:hover {
    background-color: #1a1a1a !important;
}

.next button {
    position: fixed;
    border-radius: 9999px;
    color: #fff;
    padding: 10px 14px;
    right: 2vw;
    z-index: 999;
    top: 45%;
    transform: translate(0, -45%);
    background-color: #010101 !important;
}

.next button:hover {
    background-color: #161616 !important;
}

.pick-place {
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.pick-place input[type='text'] {
    width: 30vw;
    border: 3px solid #f9f9f9;
    padding: 20px !important;
    transition: 1s all !important;
    border-radius: 0;
}

.pick-place input[type='text']:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 3px solid #000;
}

@media screen and (max-width: 600px) {
    .pick-place input[type='text'] {
        width: 60vw;
    }
}