@import url('../../../css/style.css');


body, div, div.container-fluid {
    margin: 0;
    padding: 0;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
.row {
    margin-bottom: 8px;
}

.navigation .trigger * {
    color: #0c7a7c;
}

button {
    background-color: #0eb6b9 !important;
    transition: 1s all !important;
    border: 0 !important;
}

button:hover {
    background-color: #0c7a7c !important;
}
.get-location button {
    width: 100%;
    height: 15vh;
    font-size: 20px;
}

.next button {
    position: fixed;
    border-radius: 9999px;
    color: #fff;
    padding: 10px 14px;
    right: 2vw;
}

.pick-place {
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.pick-place input[type='text'] {
    width: 30vw;
}

@media screen and (max-width: 600px) {
    .pick-place input[type='text'] {
        width: 60vw;
    }
}