@import url('../../../css/style.css');


body, div {
    margin: 0;
    padding: 0;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
.row {
    margin-bottom: 8px;
}


.next button {
    background-color: #0eb6b9;
    position: fixed;
    border-radius: 9999px;
    color: #fff;
    border: 0 !important;
    padding: 6px 10px;
}