@import url('../../../css/style.css?v=3');

body, div {
    margin: 0;
    padding: 0;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
.row {
	margin-bottom: 8px;
}
#navbar-right-text {
	padding-top: 15px;
	padding-right: 5px;
}
#extend-search-bar {
    width: 350px;
}
body, div {
    margin: 0;
    padding: 0;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
.row {
	margin-bottom: 8px;
}
#navbar-right-text {
	padding-top: 15px;
	padding-right: 5px;
}
#extend-search-bar {
    width: 350px;
}
body, div {
    margin: 0;
    padding: 0;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
.row {
	margin-bottom: 8px;
}
#navbar-right-text {
	padding-top: 15px;
	padding-right: 5px;
}
#extend-search-bar {
	width: 350px;
}